


h1 {
    text-align: center;
    padding: 50px;
}
#quest {
    
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    margin: auto;
    padding: 20px;
    width: 800px;
    height: 600px;
}
#boite {
    color: white;
    list-style: none;
    background-color: blue;
    width: max-content;
    max-width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}
#suprim {
    margin-left: 15px;
}